<div class="w-full h-[100svh]">
  <nav class="flex justify-between items-center font-sf">
    <h1 class="font-gotham text-3xl">Stephen</h1>
    <div class="flex justify-between items-center gap-4">
      <a href="#start">start</a>
      <a href="#projects">projects</a>
      <a href="#about">about</a>
      <a href="#contact">contact</a>
    </div>
  </nav>
  <section class="w-full h-full relative mt-8 md:mt-[20vh]">
    <div class="timeline w-[5vw] md:w-[15vw] relative bg-darkbg">
      <div class="bullet"></div>
    </div>
    <span class="top-0 absolute ml-4">
      <div class="font-sf text-md text-gray-400" id="start">start</div>
      <h1
        class="mt-[25vh] md:mt-[15vh] font-gotham text-md md:text-2xl"
        id="fp-name"
      >
        Hi I'm <em
          class="text-3xl md:text-6xl not-italic text-primary"
          >Stephen Zhang</em
        >
      </h1>
      <h1 class="font-gotham text-4xl md:text-6xl" id="fp-sub">
        Student Developer
      </h1>
    </span>
  </section>
</div>

<style>
  .timeline {
    display: inline-block;
    height: 100%;
    border-right: 1px solid var(--secondary);
    z-index: 100;
  }

  .bullet {
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(50%);
  }
</style>

<script>
  import gsap from "gsap";

  var t1 = gsap.timeline();

  t1.from(
    ".timeline",
    {
      height: 0,
      duration: 1,
      ease: "ease-in",
    },
    ">"
  );

  t1.from(
    "#start",
    {
      x: "-100",
      duration: 0.5,
    },
    "<0.5"
  );

  t1.from(
    "#fp-name",
    {
      x: "-100vw",
      duration: 1,
    },
    "<0.5"
  );
  t1.from(
    "#fp-sub",
    {
      x: "-100vw",
      duration: 1,
    },
    "<0.5"
  );
</script>
