<section class="w-full relative overflow-x-hidden font-sf">
  <div
    class="timeline w-[5vw] md:w-[15vw] h-full bg-white dark:bg-darkbg absolute"
  >
    <div class="bullet"></div>
  </div>
  <section class="relative left-[5vw] md:left-[15vw] ml-4">
    <div class="w-full font-sf text-md text-gray-400" id="contact">contact</div>
    <div class="mt-16 mb-16 text-tertiary flex flex-col gap-4">
      <!-- #6267f1 is the color -->
      <a href="https://github.com/szhanggg" target="_blank">
        <figure class="flex items-center gap-2">
          <img
            src="/socials/github.svg"
            alt="github"
            class="object-fit w-8 h-8"
          />
          <figcaption class="text-sm">szhanggg</figcaption>
        </figure>
      </a>
      <a href="mailto:stevez9101@gmail.com" target="_blank">
        <figure class="flex items-center gap-2">
          <img
            src="/socials/email.svg"
            alt="email"
            class="object-fit w-8 h-8"
          />
          <figcaption class="text-sm">stevez9101@gmail.com</figcaption>
        </figure>
      </a>
    </div>
    <p class="text-secondary relative right-2">❤️ </p>
  </section>
</section>

<style>
  .timeline {
    display: inline-block;
    border-right: 1px solid var(--secondary);
    z-index: 100;
  }

  .bullet {
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, 100%);
  }
</style>
