<nav class="h-[10vh] flex justify-between items-center font-sf px-4">
  <h1 class="font-gotham text-3xl">Stephen</h1>
  <div class="justify-between items-center gap-4 hidden md:flex">
    <a class="hover:cursor-pointer navlink" href="#start">start</a>
    <a class="hover:cursor-pointer navlink"href="#projects">projects</a>
    <a class="hover:cursor-pointer navlink"href="#about">about</a>
    <a class="hover:cursor-pointer navlink" href="#contact">contact</a>
  </div>
</nav>
