<section class="w-full relative overflow-x-hidden font-sf">
  <div
    class="timeline w-[5vw] md:w-[15vw] h-full bg-white dark:bg-darkbg absolute"
  >
    <div class="bullet"></div>
  </div>
  <section class="relative left-[5vw] md:left-[15vw] ml-4">
    <div class="w-full font-sf text-md text-gray-400" id="about">about</div>
    <div class="mt-16 mb-16">
      <h1 class="text-4xl font-gotham will-change-transform" id="about-header">
        Yo, <span class="text-primary font-bold">What's Up?</span>
      </h1>
      <div class="w-[85vw] md:w-1/2 mt-4">
        <p class="text-xl" id="about-text1">
          My name is Stephen Zhang. I am a student at Montgomery Blair High
          School, class of 2025. I have a strong passion for pretty much any
          topic related to computer science from web development to cybersec to
          even competitive programming.
        </p>
        <p class="text-xl mt-4" id="about-text2">
          I also enjoy <a href="https://anilist.co/user/trackstar/" target="_blank" class="font-bold text-tertiary underline">watching anime</a>, reading books, and touching grass. I love talking to people so feel free to contact me for anything, (seriously).</p>
      </div>
    </div>
  </section>
</section>

<style>
  .timeline {
    display: inline-block;
    border-right: 1px solid var(--secondary);
    z-index: 100;
  }

  .bullet {
    width: 10px;
    height: 10px;
    background-color: var(--secondary);
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, 100%);
  }

</style>
